In [54]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings('ignore')

In [55]:
pd.set_option('display.max_columns',500)
pd.set_option('display.max_rows',500)

In [56]:
data = pd.read_csv('AirlineReviews.csv')

In [57]:
data.shape

(129455, 22)

In [58]:
data.sample(5)

,Aircraft,AirlineName,CabinType,DateFlown,DatePub,EntertainmentRating,FoodRating,GroundServiceRating,OriginCountry,OverallScore,Recommended,Review,Route,SeatComfortRating,ServiceRating,Slug,Title,TravelType,TripVerified,ValueRating,WifiRating,unique_id
58488,NaN,Frontier Airlines,Economy Class,May 2016,31st May 2016,0,0,1,UnitedStates,1.0,no,My boyfriend was scheduled to fly out this mor...,IAH to SFO,1,1,frontier-airlines,still sitting at the airport,Solo Leisure,NaN,1,0,4930c7f8-2cc9-4059-93af-f9830c084cd5
19149,NaN,Alitalia,Economy Class,NaN,27th March 2013,1,1,0,UnitedStates,NaN,no,I recently travelled JFK to Rome in Premium Ec...,NaN,1,2,alitalia,Alitalia customer review,NaN,NaN,1,0,180943cb-ee91-473a-8381-ebefce27fb8d
73451,NaN,KLM Royal Dutch Airlines,Economy Class,December 2017,19th December 2017,5,5,5,Germany,10.0,yes,"Tokyo to Berlin via Amsterdam, and had an exce...",Tokyo to Berlin via Amsterdam,5,5,klm-royal-dutch-airlines,always felt well taken care of,Solo Leisure,Trip Verified,5,5,fecbd60a-0487-4c73-a429-963734672dcd
20798,NaN,Allegiant Air,Economy Class,August 2016,9th August 2016,1,1,1,UnitedStates,1.0,no,I understand that mechanical and weather delay...,LAS to BIL,1,5,allegiant-air,total lack of communication,Family Leisure,NaN,2,1,c5efbcf0-8b16-4255-9b46-875e33d76798
119981,NaN,Virgin Atlantic,Business Class,NaN,23rd December 2013,4,4,0,UnitedKingdom,8.0,yes,VS93 Gatwick to Cancun Upper class November 20...,NaN,4,5,virgin-atlantic-airways,Virgin Atlantic customer review,NaN,NaN,4,0,57d9073a-c50b-4f47-a728-ca3f0b7f4717

In [59]:
data.Review.isna().sum()

824

In [60]:
data.dropna(subset=['Review'], inplace=True)
data.shape

(128631, 22)

In [61]:
data.OverallScore.isna().sum()

4330

In [62]:
data.dropna(subset=['OverallScore'], inplace=True)
data.shape

(124301, 22)

## Sentiment 2 categories

In [63]:
data.loc[data.OverallScore >= 6.0].Recommended.value_counts()

yes    48562
no      2061
Name: Recommended, dtype: int64

In [64]:
data.loc[data.OverallScore < 5.0].Recommended.value_counts()

no     67155
yes     1157
Name: Recommended, dtype: int64

## Sentiment 3 categories

In [65]:
data.loc[(data.OverallScore >= 5.0) & (data.OverallScore < 7.0)].Recommended.value_counts()

yes    4912
no     4845
Name: Recommended, dtype: int64

In [66]:
data.loc[data.OverallScore >= 7.0].Recommended.value_counts()

yes    45487
no       745
Name: Recommended, dtype: int64

In [67]:
data.loc[data.OverallScore < 5.0].Recommended.value_counts()

no     67155
yes     1157
Name: Recommended, dtype: int64

## Sentiment 4 categories

In [69]:
data.loc[(data.OverallScore >= 4.0) & (data.OverallScore <= 5.0)].Recommended.value_counts()

no     7782
yes    2369
Name: Recommended, dtype: int64

In [125]:
data.loc[(data.OverallScore == 6.0)].Recommended.value_counts()

yes    3075
no     1316
Name: Recommended, dtype: int64

In [126]:
data.loc[data.OverallScore > 6.0].Recommended.value_counts()

yes    45487
no       745
Name: Recommended, dtype: int64

In [127]:
data.loc[data.OverallScore < 4.0].Recommended.value_counts()

no     62902
yes      625
Name: Recommended, dtype: int64

In [128]:
data.head(5)

,Aircraft,AirlineName,CabinType,DateFlown,DatePub,EntertainmentRating,FoodRating,GroundServiceRating,OriginCountry,OverallScore,Recommended,Review,Route,SeatComfortRating,ServiceRating,Slug,Title,TravelType,TripVerified,ValueRating,WifiRating,unique_id
0,NaN,AB Aviation,Economy Class,November 2019,11th November 2019,0,4,4,Netherlands,9.0,yes,Moroni to Moheli. Turned out to be a pretty de...,Moroni to Moheli,4,5,ab-aviation,pretty decent airline,Solo Leisure,Trip Verified,3,0,d3b260fb-268b-4399-8a9b-2804825902c6
1,E120,AB Aviation,Economy Class,June 2019,25th June 2019,0,1,1,UnitedKingdom,1.0,no,Moroni to Anjouan. It is a very small airline....,Moroni to Anjouan,2,2,ab-aviation,Not a good airline,Solo Leisure,Trip Verified,2,0,307711df-268f-4698-97b8-45729b7d972e
2,Embraer E120,AB Aviation,Economy Class,June 2019,25th June 2019,0,1,1,UnitedKingdom,1.0,no,Anjouan to Dzaoudzi. A very small airline and ...,Anjouan to Dzaoudzi,2,1,ab-aviation,flight was fortunately short,Solo Leisure,Trip Verified,2,0,82bd2602-171d-4724-bde0-90b71621cdcf
3,NaN,Aerocaribbean,Economy Class,NaN,31st December 2010,0,0,0,Denmark,8.0,yes,Havana - Cayo Coco return. A one hour flight w...,NaN,0,0,aerocaribbean,Aerocaribbean customer review,NaN,NaN,4,0,a927beb4-6244-4f5c-9dc3-09890aa3e616
4,NaN,Aerocaribbean,NaN,NaN,25th November 2010,0,0,0,UnitedKingdom,1.0,no,Holguin to Havana last week. Okay apart from i...,NaN,0,0,aerocaribbean,Aerocaribbean customer review,NaN,NaN,0,0,d7bea425-c58a-4a7e-8269-02e0e6516633

In [129]:
numVar = data.select_dtypes('int64').columns.to_list()

In [130]:
novaData = data[['Review', 'OverallScore']]

In [131]:
def overallScoreToSentiment2Categories(br):
    if br < 6.0:
        return "Negative"
    elif br >= 6.0:
        return "Positive"

In [132]:
novaData['Sentiment2Cat'] = data.OverallScore.apply(overallScoreToSentiment2Categories)

In [133]:
def overallScoreToSentiment3Categories(br):
    if br < 5.0:
        return "Negative"
    elif br >= 5.0 and br < 7.0:
        return "Neutral"
    elif br >= 7.0:
        return "Positive"

In [134]:
novaData['Sentiment3Cat'] = data.OverallScore.apply(overallScoreToSentiment3Categories)

In [135]:
def overallScoreToSentiment4Categories(br):
    if br < 4.0:
        return "Extremely Negative"
    elif br >= 4.0 and br <= 5.0:
        return "Mildly Negative"
    elif br == 6.0:
        return "Mildly Positive"
    elif br > 6.0:
        return "Extremely Positive"

In [136]:
novaData['Sentiment4Cat'] = data.OverallScore.apply(overallScoreToSentiment4Categories)

In [137]:
novaData.Sentiment2Cat.value_counts()

Negative    73678
Positive    50623
Name: Sentiment2Cat, dtype: int64

In [138]:
novaData.Sentiment3Cat.value_counts()

Negative    68312
Positive    46232
Neutral      9757
Name: Sentiment3Cat, dtype: int64

In [139]:
novaData.Sentiment4Cat.value_counts()

Extremely Negative    63527
Extremely Positive    46232
Mildly Negative       10151
Mildly Positive        4391
Name: Sentiment4Cat, dtype: int64

In [140]:
novaData.sample(10)

,Review,OverallScore,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat
15423,Without any doubt the worst business class in ...,1.0,Negative,Negative,Extremely Negative
37701,Toronto to Dubai via Cairo and they say you ha...,1.0,Negative,Negative,Extremely Negative
34437,GCM-MIA connecting to a intercontinental fligh...,4.0,Negative,Negative,Mildly Negative
63277,"✅ , | Djibouti to Zanzibar via Niarobi. Some ...",2.0,Negative,Negative,Extremely Negative
64860,San José to Orlando. Excellent seats and wonde...,10.0,Positive,Positive,Extremely Positive
48852,My Husband and I travelled on Emirates on DEL-...,2.0,Negative,Negative,Extremely Negative
100710,Orlando to Asheville. Absolute worst experienc...,1.0,Negative,Negative,Extremely Negative
1529,My infant daughter and I flew from Cape Town t...,6.0,Positive,Neutral,Mildly Positive
63608,Vancouver to Ottawa via Toronto. Late departur...,7.0,Positive,Positive,Extremely Positive
54086,I got to the airport 3 hours early just in cas...,1.0,Negative,Negative,Extremely Negative

In [141]:
mainData = novaData[["Review", "Sentiment2Cat", "Sentiment3Cat", "Sentiment4Cat"]]

In [142]:
mainData.rename(columns={'Review': 'OriginalReview'}, inplace=True)

In [143]:
mainData.sample(5)

,OriginalReview,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat
76616,"✅ , | Birmingham to Larnaca via Frankfurt, re...",Negative,Negative,Extremely Negative
22141,Worst flight experience ever with AA. I arrive...,Negative,Negative,Extremely Negative
103860,Leipzig to Heraklion. It was on time and the s...,Positive,Positive,Extremely Positive
98795,The worst service! I had a carry on bag and th...,Negative,Negative,Extremely Negative
112877,LHR-TUNIS-LHR out 1 Oct return 11 Oct 2013. Fl...,Positive,Positive,Extremely Positive

In [144]:
import nltk
nltk.download('stopwords')
nltk.download('words')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.corpus import words
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Korisnik\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\Korisnik\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [145]:
engStopWords = set(stopwords.words('english'))
engWords = set(words.words())

In [147]:
engStopWords.remove('no')
engStopWords.remove('not')

In [148]:
def reviewFiltering(review):
    review = re.sub('[^a-zA-Z]', ' ', review)
    review = review.lower()
    wordList = review.split()
    wordList = [word for word in wordList if word not in engStopWords]
    review = ' '.join(wordList)
    return review

In [149]:
mainData['FilteredReview'] = mainData['OriginalReview'].apply(reviewFiltering)

In [150]:
mainData.FilteredReview.sample(10)

105558    mediocre business class service brazil argenti...
119000    zurich barcelona flight vueling canceled due s...
74722     flew iad jro via ams round trip four legs hour...
33482     no problems short flight left arrived time dri...
26927     not get refreshments flight amenities getting ...
95122     finally get fly next gen business class produc...
94982     los angeles bangkok via tokyo singapore first ...
32575     flew british airways lisbon san jose via londo...
61397     worst airline ever checked luggage pune person...
104994    wg may wg may elite must mean something differ...
Name: FilteredReview, dtype: object

In [151]:
from nltk.stem import PorterStemmer

In [152]:
stemmer = PorterStemmer()

In [153]:
def stemmReview(review: str):
    wordList = review.split()
    wordList = [stemmer.stem(word) for word in wordList]
    review = ' '.join(wordList)
    return review

In [154]:
mainData['StemmedReview'] = mainData.FilteredReview.apply(stemmReview)

In [155]:
mainData.StemmedReview.sample(5)

17519     worst custom servic experi ever bewar alitalia...
4200      nice flight gener bad point report howev flew ...
123234    flew turkish airlin milano malpensa san franci...
32630     kiev belfast via london heathrow last two flig...
11219     gatwick toronto arriv counter checkin behavior...
Name: StemmedReview, dtype: object

In [156]:
lemmatizer = nltk.WordNetLemmatizer()

In [157]:
def lemmatizeReview(review: str):
    
    wordList = word_tokenize(review)
    
    posWordList = nltk.pos_tag(wordList)
    
    lemmaReview = []
    
    for word in posWordList:
        if word[1].startswith('N'):
            lemmaWord = lemmatizer.lemmatize(word[0])
            lemmaReview.append(lemmaWord)
        elif word[1].startswith('V') or word[1] == 'MD':
            lemmaWord = lemmatizer.lemmatize(word[0], pos='v')
            lemmaReview.append(lemmaWord)
        elif word[1].startswith('R'):
            lemmaWord = lemmatizer.lemmatize(word[0], pos='a')
            lemmaReview.append(lemmaWord)
        else:
            lemmaWord = word[0]
            lemmaReview.append(lemmaWord)
            
    lemmaReview = ' '.join(lemmaReview)
    
    return lemmaReview

In [158]:
mainData['LemmatizedReview'] = mainData.FilteredReview.apply(lemmatizeReview)

In [159]:
mainData.LemmatizedReview.sample(5)

52387    get flight seattle reno february tell tommy co...
39306    china southern airline guangzhou bali return f...
88490    doha stockholm premium airline service go wron...
29198    brussels geneva booked flight good price one m...
82400    worst airline ticket issue explain thing time ...
Name: LemmatizedReview, dtype: object

In [160]:
mainData.sample(5)

,OriginalReview,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat,FilteredReview,StemmedReview,LemmatizedReview
24723,Indianapolis to Tucson via Dallas Ft Worth. Th...,Negative,Negative,Extremely Negative,indianapolis tucson via dallas ft worth flight...,indianapoli tucson via dalla ft worth flight c...,indianapolis tucson via dallas ft worth flight...
121905,Very disappointed in the service. My flight ch...,Negative,Negative,Extremely Negative,disappointed service flight changed times due ...,disappoint servic flight chang time due delay ...,disappointed service flight change time due de...
123268,Chicago to San Francisco. I consistently have ...,Negative,Negative,Extremely Negative,chicago san francisco consistently bad custome...,chicago san francisco consist bad custom exper...,chicago san francisco consistently bad custome...
23163,Phoenix to Guadalajara. For over 10 years I us...,Negative,Negative,Extremely Negative,phoenix guadalajara years used travel alaska a...,phoenix guadalajara year use travel alaska air...,phoenix guadalajara year use travel alaska air...
41555,July 8th 2013. Flew from Bristol - Nice and ba...,Positive,Positive,Extremely Positive,july th flew bristol nice back easyjet holiday...,juli th flew bristol nice back easyjet holiday...,july th fly bristol nice back easyjet holiday ...

In [161]:
newColumnOrder = ['OriginalReview', 'FilteredReview', 'StemmedReview', 'LemmatizedReview', 'Sentiment2Cat', 'Sentiment3Cat', 'Sentiment4Cat']

In [162]:
mainData = mainData[newColumnOrder]

In [163]:
mainData.sample(5)

,OriginalReview,FilteredReview,StemmedReview,LemmatizedReview,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat
63608,Vancouver to Ottawa via Toronto. Late departur...,vancouver ottawa via toronto late departure ma...,vancouv ottawa via toronto late departur made ...,vancouver ottawa via toronto late departure ma...,Positive,Positive,Extremely Positive
107537,"Full service, but they only serve a small bun ...",full service serve small bun water bangkok air...,full servic serv small bun water bangkok airwa...,full service serve small bun water bangkok air...,Negative,Negative,Extremely Negative
49937,Recently flew DXB-BEY-DXB. All flights leave f...,recently flew dxb bey dxb flights leave termin...,recent flew dxb bey dxb flight leav termin two...,recently fly dxb bey dxb flight leave terminal...,Positive,Positive,Extremely Positive
21031,Problems with tickets! Employee being late cau...,problems tickets employee late caused flight d...,problem ticket employe late caus flight delay ...,problem ticket employee late cause flight dela...,Negative,Negative,Extremely Negative
10717,I took a business class return flight from Ams...,took business class return flight amsterdam vi...,took busi class return flight amsterdam via ma...,take business class return flight amsterdam vi...,Positive,Neutral,Mildly Positive

In [164]:
mainData.loc[mainData.OriginalReview == "", :]

Empty DataFrame
Columns: [OriginalReview, FilteredReview, StemmedReview, LemmatizedReview, Sentiment2Cat, Sentiment3Cat, Sentiment4Cat]
Index: []

In [165]:
mainData.loc[mainData.StemmedReview == "", :]

,OriginalReview,FilteredReview,StemmedReview,LemmatizedReview,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat
6837,✅,,,,Positive,Positive,Extremely Positive

In [166]:
mainData.loc[mainData.LemmatizedReview == "", :]

,OriginalReview,FilteredReview,StemmedReview,LemmatizedReview,Sentiment2Cat,Sentiment3Cat,Sentiment4Cat
6837,✅,,,,Positive,Positive,Extremely Positive

In [167]:
mainData.drop(index=6837, inplace=True)

In [168]:
from os import getcwd

In [169]:
filePath = getcwd() + "//FinalAirlineReviews.csv"

In [170]:
mainData.to_csv(path_or_buf=filePath, index=False)